<!-- Hero Section Start -->
<section id="home" class="pt-36">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="w-full self-center px-4 lg:w-1/2">
        <h1 class="text-base font-semibold text-primary md:text-xl">
          Hallo Semua ✋, saya
          <span class="block font-bold text-dark text-4xl lg:text-5xl"
            >Gunanda Achmad</span
          >
        </h1>
        <h2 class="font-medium text-slate-500 text-lg mb-5">Web Developer</h2>
        <p class="font-medium text-slate-400 mb-10 leading-relaxed">
          Saya adalah web developer yang sangat suka mencoba berbagai macam
          teknologi untuk mengembangkan suatu web
        </p>
        <a
          href="#"
          class="text-base font-semibold text-white bg-primary py-3 px-8 rounded-full hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out"
          >Hubungi Saya</a
        >
      </div>
      <div class="w-full self-end px-4 lg:w-1/2">
        <div class="relative mt-10 lg:right-0 lg:mt-9">
          <img
            src="/assets/Image/282327071_716067539649660_7236487311308218266_n-removebg-preview.png"
            alt="Thomas Widodo"
            class="max-w-full mx-auto"
          />
          <span
            class="absolute -bottom-0 -z-10 left-1/2 -translate-x-1/2 md:scale-125"
          >
            <svg
              width="500"
              height="500"
              viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="#14b8a6"
                d="M42.6,-30.8C56.9,-16.1,71.4,1.8,68.1,15.2C64.7,28.7,43.7,37.8,23.7,46.3C3.8,54.7,-15,62.5,-25.5,56.2C-35.9,49.9,-38,29.5,-37.6,13.6C-37.2,-2.3,-34.4,-13.7,-27.7,-26.7C-21,-39.7,-10.5,-54.3,1.8,-55.7C14.2,-57.2,28.3,-45.5,42.6,-30.8Z"
                transform="translate(100 100)"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- About Section Start -->
<section id="about" class="pt-36 pb-32">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="w-full px-4 mb-10">
        <h4>Tentang Saya</h4>
        <h2>bukan seseorang yang hebat</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, iste
          minima aliquid enim corrupti est sunt?
        </p>
      </div>
      <div class="w-full px-4">
        <h3>Mari berteman</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          perferendis accusantium consectetur repudiandae, dignissimos animi
          provident assumenda aut.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About Section End -->
